﻿@{
    ViewData["Title"] = "Tra cứu hóa đơn";
}
<div class="text-center">
    <iframe src="https://sinvoice.viettel.vn/tracuuhoadon-iframe" style="border:none; width:100%; min-height:630px; margin-top: 0px; "></iframe>
</div> 
