﻿@model IEnumerable<SINVOICE_WEB.Models.Document>

@{
    ViewData["Title"] = "Index";
}

<h1>E-Invoice</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemplateCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemplateCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Docentry">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Docentry">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Docentry">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
